<!DOCTYPE html>
<html lang="en">

<head>
  <title>Age-Gender Estimation API</title>
  <meta charset="utf-8">
	<title>Age-Gender Estimation API</title>
    <style>
		p {
			color: black;
		}   
		h1 {
			color: black;
		}        
		h3 {
			color: black;
		} 		

    </style>
</head>

<body>
  <h1>Age-Gender Estimation API</h1>
  <div>
    <p>This API is designed for predicting face coordinates, age and gender from images.</p>
    <h3><u>Usage</u></h3>
    <ul>
	  <li><a>Bash</a></l>
	  	<p>curl -POST https://age-gender-estimation-api.herokuapp.com/estimate -F 'data=@path/to/image'</p>
	</ul>
	  		
    <h3><u>Source</u></h3>
	<ul>
	  <li><a href="https://github.com/sefaburakokcu/age-gender-estimation-mxnet">Github</a></li>
	</ul>
	</div>

  	<div>
  		<p>Designed by <em>Sefa Burak OKCU</em></p> 
	</div>
</body>
</html>

